:root {
    --main-header-color: black
}

header {
    background-color: #333;
    height: 200px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.btn-container:hover {
    cursor: pointer;
}

.btn-container > div {
    width: 50%;
    line-height: 100px;
    text-align: center;
    justify-items: center;
    color: white;
    
}

.btn-container > div:hover {
    color: rgb(229, 255, 0);
}

#mens-clothing {
    background: linear-gradient(to left, var(--main-header-color) 0%, red 100%);
}

#womens-clothing {
    background: linear-gradient(to left, var(--main-header-color) 0%, pink 100%);
}

#jewelery {
    background: linear-gradient(to left, var(--main-header-color) 0%, blue 100%);
}

#electronics {
    background: linear-gradient(to left, var(--main-header-color) 0%, green 100%);
}