.map-container {
    height: 400px;
}
     
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.issBtn {
    margin: 25px 0 25px 50%;
}

.issInfo {
    background-color: rgb(140, 0, 255);
    height: 30rem;
    justify-content: center;
}

.distance {
    background-color: rgb(0, 0, 0);
    height: 70px;
}

.info-card {
    float: left;
    background-color: green;
    margin-top: 30px;
    margin-left: 10%;
    height: 300px;
    width: 20%;
}

.info-card * {
    text-align: center;
}

.card-description {
    margin-top: 80px;
}

#distanceHeader {
    text-align: center;
    color: white;
    padding-top: 15px;
}