.map-container {
    height: 400px;
}
     
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.issBtn {
    margin: 25px 0 25px 50%;
}

.issInfo {
    background-color: rgb(140, 0, 255);
    height: 30rem;
}